.DS_Store
.localized
2018_T4_2019328191338.pdf
547254.pdf
5G Network Security Architecture.pptx
5G network security architecture (1).pdf
5G network security architecture (1).pptx
6117 Notes-2.pdf
616c45102dcfa9d8fa6ee2b387f009c7e3d6.pdf
8.17.pdf
ANIL NOTES-compressed.pdf
AWS Certified Developer - Associate certificate.pdf
AWS Certified Solutions Architect - Associate (Retires March 22, 2020).pdf
AWS Certified Solutions Architect - Associate certificate.pdf
AWS Certified Solutions Architect - Associate logo.zip
AdilOsman Sr. Java FullStack Developer.docx
Aditya Latest.doc
Adobe Flash Player.dmg
Assign1.June2019.pdf
Assignment2.docx
Assignment3a.pdf
BlueroofPresentation (1).ppt
BlueroofPresentation.ppt
CamScanner 10-07-2020 09.50.30 (1).pdf
CamScanner 10-07-2020 09.50.30.pdf
Cisco_Assignment/
CodeDeployCommands.txt
DVA-C01 (1).pdf
DVA-C01.pdf
DesignTutorials (1).docx
DesignTutorials.docx
Exams_INWK_6113.pdf
Extra Ratio notes.docx
FIREWALLD.docx
IMG_8617.JPG
IMM5739_2-TORUY4I (1).pdf
IMM5739_2-TORUY4I.pdf
IMM5740_1-KYBH01B.pdf
IMM5754_2-UEFI3Z8.pdf
IMM5756_2-TORL5YQ (1).pdf
IMM5756_2-TORL5YQ.pdf
INWK6912 Tutorial M2.pdf
IOT smart building.docx
Lab 1 - Group#9.pdf
ManagementTororials.docx
Moksha and Vishal.htm
Moksha and Vishal_files/
MokshaandVishal on steps.htm
MokshaandVishal on steps_files/
My_new_keypair.pem
NS ID.pdf
Nandu-Muddapuram-161672833 (2).pdf
Network Security.pdf
Nikunj Shah Lab 3.docx
Nov 6 Investments Ratios.docx
Part10Template(VarunAkuraju).pdf
Part2Template nandu copy.pdf
Part2Template nandu.pdf
Part3Template(Varunakuraju).pdf
Part4Template(varunakuraju).pdf
Part6Template(VarunAkuraju).pdf
Part7Template(varunakuraju).pdf
Part8Template - Meena Telugu.docx
Part8Template(VarunAkuraju).pdf
Part8Template.Nandu.pdf
Part9Template(VarunAkuraju).pdf
Pensions Oct 30.docx
Player_DMG.iso
Poster presentation template 15 slides.pptx
Problem Set 1.pdf
Resume' new1.pdf
Rohith_Cloud.docx
Role of IOT in SMART HOMES.docx
Role of IOT in Smart Homes.pptx
SAA-C01.pdf
SAA-C01_2_V2.pdf
SOA-C01.pdf
Sai Varun Akuraju - Mobile DevOps Engineer- Dec 2020 (part 1) - signed.pdf
Sai Varun Akuraju - Mobile DevOps Engineer- Dec 2020 (part 2) - signed.pdf
Sai Varun Akuraju - Mobile DevOps Engineer- Dec 2020 - audit.pdf
Sai Varun Akuraju - Mobile DevOps Engineer- Dec 2020_encrypted_.pdf
Sai Varun Akuraju 2020.docx
Sai Varun Akuraju 2020.pdf
Sai Varun Akuraju Resume.docx
Sai Varun Akuraju Resume.pdf
Sai Varun Akuraju Resume1 (1).pdf
Sai Varun Akuraju Resume1.docx
Sai Varun Akuraju Resume1.pdf
Sai Varun Akurajuresume.docx
Sai Varun Akurajuresume.pdf
Sai Varun Resume.docx
Sai Varun Resume.pdf
Sai Varunresume.docx
Sai Varunresume.pdf
SaivarunAkuraju.pdf
Saturday in Northville Charter Township - Google Photos.htm
Saturday in Northville Charter Township - Google Photos_files/
Senior DevOps Release Engineer_Pre Screen Questionnaire.docx
Senior DevOps Release Engineer_Pre Screen Questionnaire.pdf
Service Request Affidavit_CANADA_4-18_Rogers (1) (1).pdf
Service Request Affidavit_CANADA_4-18_Rogers (1).pdf
Service Request Affidavit_CANADA_4-18_Rogers.pdf
Solutions Architect - Associate Logos/
Telecom Problem Sets 1- 4.pdf
Testing-Challenge-CAN.docx
Vending Machine.xlsx
Venkat Bhimisetty-Resume (1).doc
Vikas D_updated (1).docx
Vikas D_updated.docx
Word Count.zip
Word Count/
apache-maven-3.6.3-bin.zip
apache-maven-3.6.3/
assign/
assignment 1.docx
assignment#4.docx
attachments.zip
attachments/
call recording1.pcap
cda_key.pem
coverletter.docx
coverletter.pdf
deep-microservices-helloworld-master.zip
deep-microservices-helloworld-master/
docker-commands-cheat-sheet.pdf
driver license.pdf
eclipse-java-2020-06-R-macosx-cocoa-x86_64.dmg
emerging 2017 question paper.pdf
example_1.json
figure1_assignment/
final lab config.docx
git/
ip phone registration (1).pcap
ip phone registration.pcap
jdk-8u221-macosx-x64.dmg
jenkey.pem
kiran varma.docx
lab 3.docx
lab telco_20190618233452.pdf
lab1.pdf
miniproject.pem
mykeypairlast.pem
mysql-connector-java-8.0.22.tar.gz
mysql-connector-java-8.0.22/
nandu Role of IOT in SMART HOMES.docx
ndtut3m4.pdf
new doc 2018-11-02 21.03.21.pdf
new doc 2019-06-19 22.36.56_20190619224058.pdf
new-doc-2018-11-19-12.47.56_20181125150009.pdf
passport.pdf
python3-review.py
receipt.pdf
resume.docx
rootkey.csv
rows.json
rows_new.json
rows_old.json
sai.docx
sample-input-1.txt
seminar (2).rar
seminar.rar
seminar/
smart home  (1).pptx
sri (1).docx
sri.docx
task1.py
task2.py
task3.py
winzipmacedition7.dmg
workpermit.pdf
~$Role of IOT in Smart Homes (1).pptx
~$Role of IOT in Smart Homes.pptx
~$i Varunresume.docx
~$smart home .pptx


